{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
<div class="ui stackable centered grid container">
  <div class="twelve wide column">
    <h2 class="ui header">
              Observaciones
          <div class="sub header">Subir archivo para Observaciones</div>
    </h2>

    <!--
    {% with messages=get_flashed_messages(with_categories=true) %}
     {% for category, message in messages %}
      <div class='ui {{category}} message'>
        <i class="close icon"></i>
        {{ message }}
       </div>
     {% endfor %}
    {% endwith %}
-->

    <form method="post" enctype="multipart/form-data" class="ui form">

      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="field">
          <label>Archivo</label>
          <input type=file name=file>
      </div>
      <div class="field">
        <input type="submit" value="Procesar" class="ui button">
      </div>
    </form>
  </div>
</div>
{% endblock content %}
